<%- include('../partials/header.html.ejs') %>
    <h1 class="title">Homepage</h1>
    <br>
    <div>
        <a href="/quiz"><div id="start-btn">START</div></a>
    </div>
<%- include('../partials/footer.html.ejs') %>